<header class="w3-display-container">
  <div class="w3-display-left">
    <img src="../../assets/logo.png" alt="Logo representing a guinea-pig" style="height: 32px; width: 32px">
    <span id="title">Ginny CI</span>
  </div>

  <button *ngIf="!authService.token" (click)="login()" class="w3-button w3-display-right login-button">
    <img src="../../assets/GitHub-Mark-64px.png" alt="Github logo">
    Login with Github
  </button>
  <button *ngIf="authService.token" (click)="logout()" class="w3-button w3-display-right">Logout</button>
</header>
<mat-progress-bar *ngIf="!githubService.isWatching" class="main_progress" [value]="100"></mat-progress-bar>
<mat-progress-bar *ngIf="githubService.isWatching" class="main_progress" [mode]="'indeterminate'"></mat-progress-bar>
