<footer class="w3-center">
  <div class="w3-bar">
    <a class="w3-bar-item" href="https://github.com/xbauquet/github-ci-dashboard" target="_blank">Sources on github</a>
    <a class="w3-bar-item" href="https://www.flaticon.com/collections/10386194" target="_blank">Open source icons</a>
    <a class="w3-bar-item" routerLink="" (click)="toggleTheme()">{{ toggleButtonText }}</a>
  </div>
  <br><br>
  <div>
    Coded with <i class="material-icons md-favorite">favorite</i> by <a href="https://github.com/xbauquet" target="_blank" class="no-decoration">@xbauquet</a>
  </div>
</footer>
