<section id="welcome">
  <div class="w3-container w3-center">
    <h1>Welcome to Ginny CI</h1>
    <p>Ginny CI is a simple dashboard to work with your Github actions.</p>
    <p>Just login with your Github account and enjoy.</p>
    <p>
      <button (click)="login()" class="w3-button login-button">
        <img src="../../assets/GitHub-Mark-64px.png" alt="Github logo">
        Login with Github
      </button>
    </p>
    <div>
      <img id="welcome-screenshot" src="../../assets/ginny-ci-screenshot.png" alt="Screenshot of Ginny-ci"/>
    </div>
  </div>
</section>
